
body {
    background-color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#phaser {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#nav-name{
    color: white;
}

#rules{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: lightskyblue;
    padding-bottom: 10rem;
    padding-top: 2rem;
}

h2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p{
    color: black;
    font-size: larger;
}

.col{
    padding-left: 12rem;
    padding-right: 12rem;
}

